.header__square-pic {
    position: absolute;
    right:0;
    bottom: 50px;
    min-height: 568px;
    width: 568px;
    background-color:#2f80ed;
    z-index:1;
    /*animation: rotation 20s linear infinite;*/
  }

  @media screen and (max-width: 768px) {
    .header__square-pic {
      width: 100%;
      top: 64px;
      min-height: 800px;
    }
  }