.header {
    width: 100%;
    max-width: 1440px;
    min-height: 800px;
    margin: 0 auto;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
    z-index: 0;
  }