.header__link {
  color: #2f80ed;
  text-decoration: none;
  }
.header__link:hover {
  opacity: 0.4;
  transition: opacity 0.5s linear;
  }

@media screen and (max-width: 1024px) {
  .header__link {
    color:#f2f2f2;
  }
}

