.two-columns__main-text {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0;
    padding-left: 60px;
    width: 80%;
}

@media screen and (max-width: 1024px) {
  .two-columns__main-text {
    width: 100%;
    padding: 0;
  }
}