.two-columns {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 64px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
  .two-columns {
    flex-direction: column;
    margin: 0 32px;
  }
}
